ul{
    &.horizontal {
        list-style-type: none;
        li {
            display: inline;
            margin: 4px;
        }
    }
}

.list{
    &--no-style{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}
